hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.new-script-btn {
  width: 100%;
  background-color: #ff6c60;
  color: white;
}
.new-script-btn:hover {
  width: 100%;
  background-color: #ff8c80;
  color: white;
}
div.container-fluid {
  height: 100%;
  min-width: 1280px;
  padding-left: 0;
  padding-right: 0;
}
div.container-fluid .top-area .logo-area {
  padding: 10px;
  min-height: 80px;
  float: left;
  color: white;
  background-color: #00a8b3;
  width: 200px;
  text-align: center;
}
div.container-fluid .top-area .logo-area a {
  color: white;
  text-decoration: none;
}
div.container-fluid .top-area .title-area {
  padding: 10px;
  min-height: 80px;
  float: left;
  color: white;
  background-color: #41cac0;
  width: calc(100% - 200px);
}
div.container-fluid .bottom-area {
  top: 80px;
  height: 100%;
  color: gray;
}
div.container-fluid .bottom-area .menu-area {
  height: calc(100% - 80px);
  float: left;
  padding: 10px;
  background-color: #e5e8ef;
  width: 200px;
  overflow-y: auto;
}
div.container-fluid .bottom-area .menu-area div.well {
  text-align: center;
  color: gray;
  font-size: 80%;
}
div.container-fluid .bottom-area .menu-area ul li a span.glyphicon {
  font-size: 90%;
}
div.container-fluid .bottom-area .menu-area ul li a .pull-right.script-name {
  width: 126px;
  word-break: break-all;
  text-align: right;
}
div.container-fluid .bottom-area .menu-area ul li a:hover {
  background-color: #337ab7;
  color: white;
}
div.container-fluid .bottom-area .menu-area ul li span.glyphicon {
  font-size: 90%;
}
div.container-fluid .bottom-area .contents-area {
  height: calc(100% - 80px);
  float: left;
  padding: 20px;
  width: calc(100% - 200px);
  overflow: auto;
  position: relative;
}
