.dropdown-menu {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 7px;
}
.dropdown-menu a {
  display: block;
  color: gray;
  text-decoration: none;
  padding: 5px;
}
.dropdown-menu a:hover {
  background-color: #e1e1e1;
}
.container-fluid {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.container-fluid .header {
  background-color: black;
  height: 45px;
}
.container-fluid .header .logo {
  float: left;
  font-weight: bolder;
  font-size: 20px;
  padding: 9px;
  color: white;
}
.container-fluid .header .menu-area {
  float: right;
}
.container-fluid .header .menu-area a {
  color: gray;
  text-decoration: none;
  margin-left: 10px;
}
.container-fluid .sub-header {
  background-color: gray;
  height: 40px;
}
.container-fluid .contents {
  width: 100%;
  height: calc(100% - 45px - 40px);
  background-color: #e1e1e1;
  overflow-y: auto;
}
