* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.well {
  border: none !important;
}
.input-text {
  padding: 4px 8px;
  border: 1px solid #CCC;
  border-radius: 4px;
}
.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.align-right {
  text-align: right;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.loading {
  width: 50px;
  height: 57px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -28px 0 0 -25px;
}
