div.contents-area .script-infos {
  margin-bottom: 17px;
}
div.contents-area .script-infos div.script-panel {
  display: inline-block;
  float: left;
  margin: 5px;
}
div.contents-area .script-infos div.script-panel .panel-heading {
  font-size: 170%;
  font-weight: 140%;
}
div.contents-area .script-infos div.script-panel .panel-heading .script-name {
  margin-right: 13px;
}
div.contents-area .script-infos div.script-panel .panel-footer .pull-right {
  margin-left: 10px;
}
div.contents-area div.total-chart-panel div.panel-heading span.glyphicon {
  margin-right: 10px;
}
div.contents-area div.total-chart-panel div.panel-body div#totalStatisticsChart {
  height: 250px;
}
div.contents-area div.operation-history-panel div.panel-heading span.glyphicon {
  margin-right: 10px;
}
div.contents-area div.operation-history-panel div.panel-body a.list-group-item {
  font-size: 83%;
}
div.contents-area div.operation-history-panel div.panel-body a.list-group-item span.glyphicon {
  margin-right: 6px;
}
div.contents-area div.operation-history-panel div.panel-body a.startup-history {
  background-color: #eff5ff;
}
div.contents-area div.operation-history-panel div.panel-body a.shutdown-history {
  background-color: #ffebeb;
}
.panel-red {
  border-color: #ff6c60;
}
.panel-red .panel-heading {
  border-color: #ff6c60;
  color: #fff;
  background-color: #ff6c60;
}
.panel-red a {
  color: #ff6c60;
}
.panel-red a:hover {
  color: #c60f00;
}
