.glyphicon {
  margin-right: 4px;
}
.gray-sm-ball {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: gray;
  border-radius: 100%;
  opacity: 0.5;
  margin: 0 2px 0 2px;
}
.black-sm-ball {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 100%;
  opacity: 0.5;
  margin: 0 2px 0 2px;
}
#panel-input-database {
  width: 500px;
}
#panel-input-database div.panel-body div {
  margin-bottom: 5px;
}
#panel-input-database div.panel-body div label.key-label {
  width: 150px;
  margin-right: 10px;
}
#panel-input-database div.panel-body div span.value-area {
  margin-bottom: 5px;
}
#panel-input-database div.panel-body div span.value-area label {
  margin-right: 5px;
  font-weight: normal;
}
#panel-input-database div.panel-body div span.value-area input#text-database-ip {
  width: 150px;
}
#panel-input-database div.panel-body div span.value-area input#text-database-port {
  width: 50px;
}
#panel-input-database div.panel-body div span.value-area input#text-database-sid,
#panel-input-database div.panel-body div span.value-area input#text-jdbc-driver,
#panel-input-database div.panel-body div span.value-area input#text-jdbc-conn-url,
#panel-input-database div.panel-body div span.value-area input#text-jdbc-username,
#panel-input-database div.panel-body div span.value-area input#text-jdbc-password {
  width: 292px;
}
#panel-set-table-for-query {
  width: 300px;
}
#panel-set-column-for-query {
  width: 300px;
}
#panel-set-column-for-query div.panel-body div#div-columns {
  max-height: 250px;
  overflow: auto;
}
#panel-set-column-for-query div.panel-body div#div-columns label {
  font-weight: normal;
}
#panel-set-binding-type {
  width: 300px;
}
#panel-set-binding-type div.panel-body {
  max-height: 250px;
}
#panel-set-binding-type div.panel-body label {
  font-weight: normal;
}
#panel-set-binding-type div.panel-body #columns-for-sequence-condition,
#panel-set-binding-type div.panel-body #columns-for-date-condition {
  max-height: 100px;
  overflow-y: scroll;
  padding-left: 10px;
  background-color: #f5f6f9;
}
#panel-etc-parameter {
  min-width: 400px;
}
#panel-etc-parameter div.panel-body div.input-group {
  width: 100%;
}
#panel-etc-parameter div.panel-body div.input-group span.input-group-addon {
  width: 100px;
}
#panel-script {
  max-width: 700px;
}
