<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="consoleout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>

	<appender name="fileout" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${home.path}/logs/scripter.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	
	<appender name="errfileout" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${home.path}/logs/scripter-err.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %p - %C{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	
	<appender name="scriptAppender" class="com.igloosec.scripter.script.ScriptLogAppender">
	</appender>

	<logger name="com.igloosec">
		<level value="TRACE" />
		<appender-ref ref="consoleout" />
		<appender-ref ref="fileout" />
		<appender-ref ref="errfileout" />
	</logger>
	
	<logger name="scriptLogger">
		<level value="TRACE" />
		<appender-ref ref="scriptAppender" />
	</logger>
</log4j:configuration>