extends base

block header
	link(href="/css/config.css", rel="stylesheet")

block title-area
	h3 configuration

block contents-area
	hr
	h4 script editor
	div
		h5 theme
		select#select-script-editor-theme
			option(value="default") default
			option(value="3024-day") 3024-day
			option(value="3024-night") 3024-night
			option(value="abcdef") abcdef
			option(value="ambiance") ambiance
			option(value="base16-dark") base16-dark
			option(value="base16-light") base16-light
			option(value="blackboard") blackboard
			option(value="cobalt") cobalt
			option(value="colorforth") colorforth
			option(value="dracula") dracula
			option(value="eclipse") eclipse
			option(value="elegant") elegant
			option(value="erlang-dark") erlang-dark
			option(value="icecoder") icecoder
			option(value="lesser-dark") lesser-dark
			option(value="liquibyte") liquibyte
			option(value="material") material
			option(value="mbo") mbo
			option(value="mdn-like") mdn-like
			option(value="midnight") midnight
			option(value="monokai") monokai
			option(value="neat") neat
			option(value="neo") neo
			option(value="night") night
			option(value="paraiso-dark") paraiso-dark
			option(value="paraiso-light") paraiso-light
			option(value="pastel-on-dark") pastel-on-dark
			option(value="rubyblue") rubyblue
			option(value="seti") seti
			option(value="solarized dark") solarized dark
			option(value="solarized light") solarized light
			option(value="the-matrix") the-matrix
			option(value="tomorrow-night-bright") tomorrow-night-bright
			option(value="tomorrow-night-eighties") tomorrow-night-eighties
			option(value="ttcn") ttcn
			option(value="twilight") twilight
			option(value="vibrant-ink") vibrant-ink
			option(value="xq-dark") xq-dark
			option(value="xq-light") xq-light
			option(value="yeti") yeti
			option(value="zenburn") zenburn
	div.div-save-btn: button(type="button", class="btn btn-primary", onclick="controller.saveScriptEditorConfig();") save
	hr

block footer
	- scriptEditorTheme = configs.getString("script.editor.theme");
	script.
		$('select#select-script-editor-theme option[value="#{scriptEditorTheme}"]').attr('selected', 'true');

	script(src="/js/config.js")