extends base

block header
	link(href="/css/edit-script.css", rel="stylesheet")

block title-area
	h3 #{script.SCRIPT_NAME}

block contents-area
	div
		textarea#textarea-script(rows="50") #{script.SCRIPT}
	hr
	div: button(type="button", class="btn btn-primary pull-right", onclick="controller.save();") save

block footer
	input#script-name(type="hidden", value="#{script.SCRIPT_NAME}")
	input#hidden-script-editor-theme(type="hidden", value="#{scriptEditorTheme}")
	script(src="/js/edit-script.js")