doctype html
html
	head
		include inc/head.jade
		title database crawler
		link(href="/css/base.css", rel="stylesheet")
		block header
	body
		div.container-fluid
			div.header
				div.logo 
					label database crawler
				div.menu-area
					a#new-script-btn(href="#") new script
					a(href="#") overview
					a(href="#") configuration

			div.sub-header
				block sub-header
			div.contents
				block contents
			
		script(src="/js/base.js")
		block footer