extends base

block header
	link(href="/css/config.css", rel="stylesheet")

block title-area
	h3 configuration

block contents-area
	div#contents
	//- div.panel.panel-default.general-config-panel
	//- 	div.panel-heading
	//- 		span.glyphicon.glyphicon-cog
	//- 		span general
	//- 	div.panel-body
	//- 		span.config-key version check
	//- 		span
	//- 			label
	//- 				input(type="radio", name="version-check", value="true")
	//- 				span true
	//- 			label
	//- 				input(type="radio", name="version-check", value="false")
	//- 				span false
	//- 		hr
	//- 		div
	//- 			button.btn.btn-primary.btn-sm.pull-right(type="button", onclick="controller.saveGeneralConfig();") save
	//- 			div.clearfix

	//- div.panel.panel-default.derby-sql-panel
	//- 	div.panel-heading
	//- 		span.glyphicon.glyphicon-cog
	//- 		span derby database
	//- 	div.panel-body
	//- 		div.input-group
	//- 			span.input-group-addon sql
	//- 			input.form-control#derby-query(type="text")
	//- 		hr
	//- 		button.btn.btn-default.pull-right(type="button", onclick="controller.queryDerbyDb();") query

	//- div.panel.panel-default.crypto-panel
	//- 	div.panel-heading
	//- 		span.glyphicon.glyphicon-cog
	//- 		span crypto
	//- 	div.panel-body
	//- 		div.input-group
	//- 			span.input-group-addon text
	//- 			input.form-control#crypto-text(type="text")
	//- 		hr
	//- 		button.btn.btn-default.pull-right(type="button", onclick="controller.crypto({type: 'encrypt'});") encrypt
	//- 		button.btn.btn-default.pull-right(type="button", onclick="controller.crypto({type: 'decrypt'});") decrypt


	
block footer
	script(src="/js/bundle/config.bundle.js")
	// script(src="/js/config.js")