extends base

block header
	link(href="/css/config.css", rel="stylesheet")

block title-area
	h3 configuration

block contents-area
	div#contents
	
block footer
	script(src="/js/bundle/config.bundle.js")