extends base

block header
	link(href="/css/index.css", rel="stylesheet")

block title-area

block contents-area
	div.script-infos
	div.row
		div.col-lg-9.col-md-12.col-sm-12
			div.panel.panel-default.total-chart-panel
				div.panel-heading
					span.glyphicon.glyphicon-stats
					span total chart
				div.panel-body
					div#totalStatisticsChart
		div.col-lg-3.col-md-12.col-sm-12
			div.panel.panel-default.operation-history-panel
				div.panel-heading
					span.glyphicon.glyphicon-time
					span operation history
				div.panel-body
					
	div.well 
		span index page
		div 도움말 기능
		div script export 기능
		div http call 기능
		div
			div tooltip https://formstone.it/components/tooltip/
		div
			div notice http://stephanwagner.me/jBox


block footer
	script(src="/js/index.js")