extends base

block header
	style.
		.token {
			margin: 3px;
			padding: 1px 3px;
			background-color: #eff2f7;
			color: #000;
			cursor: default;
			border: 1px solid #ccd5e4;
			font-size: 11px;
			float: left;
			white-space: nowrap;
		}

block title-area
	h3 test

block contents-area
	span.token
		span blabla
		a(href="#") x
	

block footer
	script.
		$(function(){
			$('#myTags').tagit();
		});