extends base

block header
	link(href="/css/view-script.css", rel="stylesheet")

block title-area
	h3 #{script.SCRIPT_NAME}

block contents-area

block footer
	script(src="/js/bundle/view-script.bundle.js")