- menuClass = "nav nav-pills nav-stacked";

doctype html
html
	head
		include inc/head.jade
		title SpDbReader
		link(href="/css/base.css", rel="stylesheet")
		block header
	body
		div.container-fluid
			div.top-area
				div.logo-area: h3: a(href="/") SpDbReader
				div.title-area
					block title-area
			div.bottom-area
				div.menu-area
					div
						button.btn.new-script-btn(type="button", onclick="newScript();") new script
					hr
					div#menu-items
						ul(class=menuClass)
							li: a(href="/") 
								span.glyphicon.glyphicon-cloud.pull-left
								span.pull-right overview
								div.clearfix
							li: hr
							li: h5 Scripts
							if scriptInfos == null
								li: div.well unable to read script info
							else if scriptInfos.size() == 0
								li: div.well no script
							else
								each scriptInfo in scriptInfos
									li: a(href="/Script/View/#{scriptInfo.SCRIPT_NAME}/") 
										span.glyphicon.glyphicon-console.pull-left
										span.pull-right.script-name #{scriptInfo.SCRIPT_NAME}
										div.clearfix
							li: hr
							li: a(href="/Config/") 
								span.glyphicon.glyphicon-cog.pull-left
								span.pull-right configuration
								div.clearfix
				div.contents-area
					block contents-area
					
		script#new-script(type="x-jade")
			:plain
				div.row
					div.col-md-4
						div: button(type="button", class="btn btn-lg new-script-btn", onclick="newDb2FileScript();") db2file
						div blabla 여기는 설명입니다.
					div.col-md-4
						div: button(type="button", class="btn btn-lg new-script-btn", onclick="newDb2DbScript();") db2db
						div blabla 여기는 설명입ㅈ니다
					div.col-md-4
						div: button(type="button", class="btn btn-lg new-script-btn", onclick="importScript();") import script
						div blabla 여기는 설명입ㅈ니다
			
		script(src="/js/common.js")
		script.
			function newScript(){
				var msgJade = $('script#new-script[type="x-jade"]').html();
				bootbox.dialog({
					title: 'new script',
					message: jade.compile(msgJade)({})
				});
			}; //newScript
			function newDb2FileScript(){
				window.location.href = '/Script/NewDb2File/';
			}; //newDb2FileScript
			function newDb2DbScript(){
				window.location.href = '/Script/NewDb2Db/';
			}; //newDb2DbScript
			function importScript(){
				window.location.href = '/Script/EditNew/';
			}; //importScript
		script.
			Waves.attach('button[type="button"]', ['waves-float']);

		block footer