extends base

block header
	link(href="/css/config.css", rel="stylesheet")

block title-area
	h3 configuration

block contents-area
	div.panel.panel-default.general-config-panel
		div.panel-heading
			span.glyphicon.glyphicon-cog
			span general
		div.panel-body
			span.config-key version check
			span
				label
					input(type="radio", name="version-check", value="true")
					span true
				label
					input(type="radio", name="version-check", value="false")
					span false
			hr
			div
				button.btn.btn-primary.btn-sm.pull-right(type="button", onclick="controller.saveGeneralConfig();") save
				div.clearfix

	div.panel.panel-default.derby-sql-panel
		div.panel-heading
			span.glyphicon.glyphicon-cog
			span derby database
		div.panel-body
			div.input-group
				span.input-group-addon sql
				input.form-control#derby-query(type="text")
			hr
			button.btn.btn-default.pull-right(type="button", onclick="controller.queryDerbyDb();") query

	div.panel.panel-default.crypto-panel
		div.panel-heading
			span.glyphicon.glyphicon-cog
			span crypto
		div.panel-body
			div.input-group
				span.input-group-addon text
				input.form-control#crypto-text(type="text")
			hr
			button.btn.btn-default.pull-right(type="button", onclick="controller.crypto({type: 'encrypt'});") encrypt
			button.btn.btn-default.pull-right(type="button", onclick="controller.crypto({type: 'decrypt'});") decrypt


	
block footer
	- scriptEditorTheme = configs.getString("script.editor.theme");
	- versionCheck = configs.getString("version.check");
	script.
		//version check
		$('input[type="radio"][name="version-check"][value="#{versionCheck}"]').attr('checked', 'true');
		//script editor theme
		$('select#select-script-editor-theme option[value="#{scriptEditorTheme}"]').attr('selected', 'true');

	script(src="/js/config.js")