extends base

block header
	link(href="/css/new-script.css", rel="stylesheet")

block title-area
	h3 new script

block contents-area
	div
		pre#editor
	div.oper-btns
		button(type="button", class="btn btn-info", onclick="save();") save

block footer
	input#hidden-script-editor-theme(type="hidden", value="#{scriptEditorTheme}")
	script(src="/js/new-script.js")