div.contents-area {
	span.config-key {
		margin-right: 10px;
	}

	div.panel-heading {
		span.glyphicon {
			margin-right: 10px;
		} 
	} 

	label {
		font-weight: normal;
		margin-left: 5px;
	} 

	// .general-config-panel {
	// 	width: 100%;
	// 	margin-right: 20px;
	// } 

	// .derby-sql-panel {
	// 	width: 100%;
	// 	margin-right: 20px;
	// } 

	// .crypto-panel {
	// 	width: 100%;
	// 	margin-right: 20px;
	// } 

	// .auto-start-script-panel {
	// 	width: 100%;
	// 	margin-right: 20px;
	// 	.script-item {
	// 		button.btn-xs {
	// 			margin-right: 5px;
	// 		}
	// 		.desc {
	// 			font-size: 95%;
	// 		}
	// 	}
	// } 
} 