@red-color: #ff6c60;
@startup-color: #EFF5FF;
@shutdown-color: #FFEBEB;


div.contents-area {
	.script-infos {
		margin-bottom: 17px;

		div.script-panel {
			display: inline-block;
			float: left;
			margin: 5px;

			.panel-heading {
				padding: 9px 13px;
				.script-name {
					margin-left: 13px;
				} //.script-name
			} //.panel-heading
			.panel-footer {
				padding: 6px 12px;
				font-size: 90%;
				.pull-right { margin-left: 10px; }
			} //.panel-footer
		} //div.script-panel
	} //.script-infos
	
	div.total-chart-panel {
		div.panel-heading {
			span.glyphicon {
				margin-right: 10px;
			} //span
		} //div.panel-heading
		div.panel-body {
			div#totalStatisticsChart {
				height: 250px;
			} //div#totalStatisticsChart
		} //div.panel-body
	} //div.total-chart-panel
	div.operation-history-panel {
		div.panel-heading {
			span.glyphicon {
				margin-right: 10px;
			} //span.glyphicon
		} //div.panel-heading
		div.panel-body {
			a.list-group-item {
				font-size: 83%;
				span.glyphicon {
					margin-right: 6px;
				}
			} //a.list-group-item
			a.startup-history {
				background-color: @startup-color;
			} //a.startup-history
			a.shutdown-history {
				background-color: @shutdown-color;
			} //a.shutdown-history
		} //div.panel-body
	} //operation-history-panel
} //div.contents-area

.panel-red {
    border-color: @red-color;
    .panel-heading {
		border-color: @red-color;
    	color: #fff;
    	background-color: @red-color;
    } //.panel-heading
    a {
    	color: @red-color;
    } //a
    a:hover {
    	color: darken(@red-color, 30%);
    } //a:hover
} //.panel-red