hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
div.container {
  height: 100%;
}
div.container .top-area .logo-area {
  padding: 10px;
  min-height: 80px;
  float: left;
  color: white;
  background-color: #00a8b3;
  width: 200px;
  text-align: center;
}
div.container .top-area .title-area {
  padding: 10px;
  min-height: 80px;
  float: left;
  color: white;
  background-color: #41cac0;
  width: calc(100% - 200px);
}
div.container .bottom-area {
  top: 80px;
  height: 100%;
  color: gray;
}
div.container .bottom-area .menu-area {
  min-height: calc(100% - 80px);
  float: left;
  padding: 10px;
  background-color: #e5e8ef;
  width: 200px;
  overflow-y: auto;
}
div.container .bottom-area .menu-area .new-script-btn {
  width: 100%;
  background-color: #ff6c60;
  color: white;
}
div.container .bottom-area .menu-area .new-script-btn:hover {
  background-color: #ff8c80;
}
div.container .bottom-area .menu-area div.well {
  text-align: center;
  color: gray;
  font-size: 80%;
}
div.container .bottom-area .contents-area {
  min-height: calc(100% - 80px);
  float: left;
  padding: 20px;
  width: calc(100% - 200px);
  overflow-y: auto;
  position: relative;
}
