* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
.well {
  border: none !important;
}
.input-text {
  padding: 4px 8px;
  border: 1px solid #CCC;
  border-radius: 4px;
}
.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
