div.contents-area {
	span.config-key {
		margin-right: 10px;
	}

	div.panel-heading {
		span.glyphicon {
			margin-right: 10px;
		} //span.glyphicon
	} //div.panel-heading

	label {
		font-weight: normal;
		margin-left: 5px;
	}
} //div.contents-area