.card {
	padding: 20px;
	margin: 5px;
	background-color: #e5e8ef;
}

#card-input-database {
	width: 500px;
}
#card-input-database div { margin-bottom: 5px; }
#card-input-database label.key-label {
	width: 150px;
	margin-right: 10px;
}
#card-input-database span.value-area label{
	margin-right: 5px;
	font-weight: normal;
}
#card-input-database input#text-database-ip { width: 150px; }
#card-input-database input#text-database-port { width: 50px; }
#card-input-database input#text-database-sid, 
#card-input-database input#text-jdbc-driver,
#card-input-database input#text-jdbc-conn-url,
#card-input-database input#text-jdbc-username,
#card-input-database input#text-jdbc-password {
	TODO IMME
}
