div.contents-area div.panel-heading span.glyphicon {
  margin-right: 10px;
}
div.contents-area span.glyphicon-upload,
div.contents-area span.glyphicon-download {
  margin-right: 10px;
}
div.contents-area div.command-panel div.panel-body button {
  width: 100%;
  margin-top: 3px;
}
div.contents-area div.operation-history-panel div.panel-body ul.list-group li.list-group-item.startup-history {
  background-color: #dcf6f5;
}
div.contents-area div.operation-history-panel div.panel-body ul.list-group li.list-group-item.shutdown-history {
  background-color: #fadede;
}
