ul li {
	margin-left: 15px;
}

div.contents-area {
	div.script-operation {
		text-align: right;
		button {
			margin-left: 3px;
		}
	} //div.script-operation
	div.script-info {
		input.input-text {
			width: 100%;
		} //input.input-text
	} //div.script-info
} //div.contents-area