ul li {
  margin-left: 15px;
}
div.contents-area div.script-operation {
  text-align: right;
}
div.contents-area div.script-operation button {
  margin-left: 3px;
}
div.contents-area div.script-info input.input-text {
  width: 100%;
}
