meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

// jquery
script(src="/lib/jquery/dist/jquery.min.js")

// bootstrap
link(href="/lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
script(src="/lib/bootstrap/dist/js/bootstrap.min.js")

// bootbox
script(src="/lib/bootbox/bootbox.js")

// string format
script(src="/js/lib/string.format.js")

// js cols
script(src="/lib/js_cols/dist/js_cols.min.js")

// jade
script(src="/lib/jade/jade.js")

// common css
link(href="/css/common.css", rel="stylesheet")
link(href="/css/loading.css", rel="stylesheet")

// search dropdown
script(src="/js/lib/searchable-dropdown.js")

// code mirror
script(src="/lib/codemirror/lib/codemirror.js")
link(href="/lib/codemirror/lib/codemirror.css", rel="stylesheet")
script(src="/lib/codemirror/addon/hint/show-hint.js")
link(href="/lib/codemirror/addon/hint/show-hint.css", rel="stylesheet")
script(src="/lib/codemirror/addon/hint/javascript-hint.js")
script(src="/lib/codemirror/addon/hint/anyword-hint.js")
script(src="/lib/codemirror/mode/javascript/javascript.js")

// code mirror theme
link(href="/lib/codemirror/theme/3024-day.css", rel="stylesheet")
link(href="/lib/codemirror/theme/3024-night.css", rel="stylesheet")
link(href="/lib/codemirror/theme/abcdef.css", rel="stylesheet")
link(href="/lib/codemirror/theme/ambiance.css", rel="stylesheet")
link(href="/lib/codemirror/theme/base16-dark.css", rel="stylesheet")
link(href="/lib/codemirror/theme/base16-light.css", rel="stylesheet")
link(href="/lib/codemirror/theme/blackboard.css", rel="stylesheet")
link(href="/lib/codemirror/theme/cobalt.css", rel="stylesheet")
link(href="/lib/codemirror/theme/colorforth.css", rel="stylesheet")
link(href="/lib/codemirror/theme/dracula.css", rel="stylesheet")
link(href="/lib/codemirror/theme/eclipse.css", rel="stylesheet")
link(href="/lib/codemirror/theme/elegant.css", rel="stylesheet")
link(href="/lib/codemirror/theme/erlang-dark.css", rel="stylesheet")
link(href="/lib/codemirror/theme/icecoder.css", rel="stylesheet")
link(href="/lib/codemirror/theme/lesser-dark.css", rel="stylesheet")
link(href="/lib/codemirror/theme/liquibyte.css", rel="stylesheet")
link(href="/lib/codemirror/theme/material.css", rel="stylesheet")
link(href="/lib/codemirror/theme/mbo.css", rel="stylesheet")
link(href="/lib/codemirror/theme/mdn-like.css", rel="stylesheet")
link(href="/lib/codemirror/theme/midnight.css", rel="stylesheet")
link(href="/lib/codemirror/theme/monokai.css", rel="stylesheet")
link(href="/lib/codemirror/theme/neat.css", rel="stylesheet")
link(href="/lib/codemirror/theme/neo.css", rel="stylesheet")
link(href="/lib/codemirror/theme/night.css", rel="stylesheet")
link(href="/lib/codemirror/theme/paraiso-dark.css", rel="stylesheet")
link(href="/lib/codemirror/theme/paraiso-light.css", rel="stylesheet")
link(href="/lib/codemirror/theme/pastel-on-dark.css", rel="stylesheet")
link(href="/lib/codemirror/theme/rubyblue.css", rel="stylesheet")
link(href="/lib/codemirror/theme/seti.css", rel="stylesheet")
link(href="/lib/codemirror/theme/solarized.css", rel="stylesheet")
link(href="/lib/codemirror/theme/the-matrix.css", rel="stylesheet")
link(href="/lib/codemirror/theme/tomorrow-night-bright.css", rel="stylesheet")
link(href="/lib/codemirror/theme/tomorrow-night-eighties.css", rel="stylesheet")
link(href="/lib/codemirror/theme/ttcn.css", rel="stylesheet")
link(href="/lib/codemirror/theme/twilight.css", rel="stylesheet")
link(href="/lib/codemirror/theme/vibrant-ink.css", rel="stylesheet")
link(href="/lib/codemirror/theme/xq-dark.css", rel="stylesheet")
link(href="/lib/codemirror/theme/xq-light.css", rel="stylesheet")
link(href="/lib/codemirror/theme/yeti.css", rel="stylesheet")
link(href="/lib/codemirror/theme/zenburn.css", rel="stylesheet")

//morris chart
link(href="/lib/morris.js/morris.css", rel="stylesheet")
script(src="/lib/raphael/raphael-min.js")
script(src="/lib/morris.js/morris.js")


// db2file script maker
script(src="/js/db2file-script-maker.js")